<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AlmeidaConnectionStrings" connectionString="Data Source=(LocalDB)\mssqllocaldb;AttachDbFilename=|DataDirectory|\Databases\BancoAlmeidaJJ.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>